html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

a{
	color: white;
}

a .fa:hover{
	color: #8cece2;
	transform: scale(1.2);
}

.logo {
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 8vh;
}

.container {
	width: 100%;
	color: white;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box; 
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

.container:after{
  content: "";
  display: table;
  clear: both; 
}

.home {
	box-shadow: inset 0 0 0 1000px rgba(35,227,161, .7);
	background: url(images/home.png); 
	background-size: cover;
}

.about {
	box-shadow: inset 0 0 0 1000px rgba(35,197,227, .7);
	background: url(images/about.png); 
	background-size: cover;
}

.projects {
	box-shadow: inset 0 0 0 1000px rgba(184,127,237, .7);
	background: url(images/projects.png); 
	background-size: cover;
}

.skills {
	background-color: #fb6565;
	box-shadow: inset 0 0 0 1000px rgba(251,101,101, .7);
	background: url(images/skills.png); 
	background-size: cover;
}

.github {
	background-color: #ffa500;
	box-shadow: inset 0 0 0 1000px rgba(255,165,0, .7);
	background: url(images/github.png); 
	background-size: cover;
}

.contact {
	background-color: #ffd700;
	box-shadow: inset 0 0 0 1000px rgba(255,215,0, .7);
	background: url(images/contact.png); 
	background-size: cover;
}


.home:hover, .about:hover, .skills:hover, .fa-github:hover, .contact:hover, #expand-projects, .github{
	cursor: pointer;
}

#expand-projects {
	width: 100%;
	padding-left: 5%;
}

.block {
	height: 28vh;
	position: relative;
	margin-top: 3%;
}

.title {
	position: absolute;
	bottom: 2%;
	right: 3%;
} 

.left {
	float:left;
}

.right {
	float: right;
}
.content {
	display: none;
	float: left
	width: 100%;
	text-align: center;
	margin-top: 25%;
	padding: 3%;
}

.home-content {
	margin-top: 40%;
}

.about-content {
	margin-top: 35%;
}

.projects-content {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

.home {
	width: 40%;
}

.about {
	width: 57%;
}
.projects {
	width: 67%;
}
.skills {
	width: 30%
}

.github {
	width: 35%;
}

.github .fa{
	font-size: 30vw;
}

.contact {
	width: 62%;
}

.projects-content img {
	width: 80%;
	margin: 0 auto;
	margin-top: 3%;
	display: none;
}

.project {
	display: none;
	width: 100%;
	height: 60px;
}

.project:hover{
	cursor:pointer;
}

.html-project{
	box-shadow: inset 0 0 0 1000px rgba(110,76,142, .7);
}

.clock-project{
	box-shadow: inset 0 0 0 1000px rgba(128,88,165, .7);
}

.modal-project{
	box-shadow: inset 0 0 0 1000px rgba(147,101,189, .7);
}

.darin-project{
	box-shadow: inset 0 0 0 1000px rgba(165,114,213, .7);
}

.rails-project{
	box-shadow: inset 0 0 0 1000px rgba(184,127,237, .7);
}

.project h2{
	padding-top: 5%;
	margin: 0;
}

.fixed-title{
	position: fixed;
	top: 10%;
	right: 10%;
}

.zee {
	z-index: -1;
}

ul {
	list-style-type: none;
}


























@media (min-width: 641px) {

	.block {
		height: 36vh;
		float: left;
		margin: 0;
	}

	.title {
		top: 2%;
	} 

	h3 {
		width: 300px;
		float: right;
	}

	.wrapper {
		width: 99%;
		margin: 0 auto;
	}

	.content{
		padding: 3%;
		display: none; 
	}

	.home-content, .contact-content{
		margin-top: 15%;
	}

	.skills-content, .about-content{
		margin-top: 10%;
	}

	.home {
		width: 50%;
	}
	.about {
		width: 50%;
	}
	.projects {
		width: 100%;
		height: 20vh;
	}

	.skills {
		width: 33.3%;
	}
	.github {
		width: 33.3%;
	}

	.github-content{
		display: inline !important;
	}

	.contact {
		width: 33.3%;
	}

	.github .fa{
		font-size: 10vw;
		margin-top: 5vw;
		margin-left:12vw;
	}

	.projects-content {
		width: 90%;
		margin: 0 auto;
	}

	.projects-content img {
		width: 20vw;
		margin: 2vw;
	}

	.projects-title {
		width: 8vw;
		float: right;
	}

	.projects-title:after {
		content: "";
		display: table;
		clear: both;
	}

	#html, #clock, #modal, #darin {
		display: none;
	}



}






/*classes to be added and removed in jquery*/

.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}








